

@media (max-width: 320px) {
  body {
    background-color: red;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  body {
    background-color: orange;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  body {
    background-color: green;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  body {
    background-color: blue;
  }
}

@media (min-width: 769px) {
  body {
    background-color: purple;
  }
}
